*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{

    border: 1px solid black;

}

.col-9{

    height: 200px;

}

/* info section */

header{

    background-color: rgb(255, 0, 0);    

}

.start{

    background-color: aqua;    

}

.portofolio{

    background-color: rgb(0, 255, 42);    

}

.about{

    background-color: rgb(255, 196, 0);    

}

.contact_me{

    background-color: rgb(112, 177, 255);    

}

footer{

    background-color: rgb(255, 112, 222);    

}