*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --bs-dark: #2c3e50;
    --bs-green: #1abc9c;
    --bs-lightdark: #3a546d;

}

.debug{

    border: 1px solid black;

}

.col-9{

    /* height: 200px; */

}

/* utilities */

nav{

    background-color: var(--bs-dark);    

}

.start{

    background-color: aqua;    

}

.avatar{

    height: 150px;

}

hr{

    width: 70px;

}

.portofolio{

    background-color: rgb(0, 255, 42);    

}

.about{

    background-color: rgb(255, 196, 0);    

}

.contact_me{

    background-color: rgb(112, 177, 255);    

}

footer{

    background-color: rgb(255, 112, 222);    

}