*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --bs-dark: #2c3e50;
    --bs-green: #1abc9c;
    --bs-lightdark: #3a546d;

}

/* .debug{

    border: 1px solid black;

}
 */


/* utilities */

nav{

    background-color: var(--bs-dark);    

}

.start{

    background-color: var(--bs-green);    

}

.avatar{

    height: 150px;

}

hr{

    width: 70px;

}


.about{

    background-color: var(--bs-green);    

}

.send{

    background-color: var(--bs-green);

}



footer{

    background-color: var(--bs-lightdark);    

}

.color_span{

    color: var(--bs-green);

}